html,body{
    /* display: flex; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.bg{
    /* position: absolute; */
    margin:0 auto;
    width: 800px;
    height: 600px;
    background-image: url("/assets//sky.png");
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game{
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
}
.start-level1{
    margin: 0 auto;
    width: 100px;
    height: 70px;
    list-style: 70px;
    cursor: pointer;
}

